<html>
    <head>
        <title>readingScore</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Current Reading Score</th>
                    <th>Current Grade Level</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ gradeLevel }} </td>
                    <td> {{ readingLevel }} </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>